<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Clamp Font Size</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="flex">
    <form class="full-width">
      <mat-form-field class="form-field-full-width">
        <mat-label>Minimum width</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="minWidth"
          name="minWidth"
          (ngModelChange)="recalculate()"
        />
        <span matSuffix>&nbsp; px &nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-field-full-width">
        <mat-label>Maximum width</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="maxWidth"
          name="maxWidth"
          (ngModelChange)="recalculate()"
        />
        <span matSuffix>&nbsp; px &nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-field-full-width">
        <mat-label>Minimum font size</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="minFont"
          name="minFont"
          (ngModelChange)="recalculate()"
          step="0.1"
        />
        <span matSuffix>&nbsp; rem &nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-field-full-width">
        <mat-label>Maximum font size</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="maxFont"
          name="maxFont"
          (ngModelChange)="recalculate()"
          step="0.1"
        />
        <span matSuffix>&nbsp; rem &nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-field-full-width">
        <mat-label>1 rem</mat-label>
        <input
          type="number"
          matInput
          [(ngModel)]="pxPerRem"
          name="pxPerRem"
          (ngModelChange)="recalculate()"
        />
        <span matSuffix>&nbsp; px &nbsp;</span>
      </mat-form-field>
    </form>
    <div [cdkCopyToClipboard]="clamp" (click)="openSnackBar()" class="copy">
      <div class="value">

      {{ clamp }}
      </div>
      <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">file_copy</mat-icon>
      </div>
    </div>
  </div>
</div>
