/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: rgb(48, 48, 48);
}

.container {
  display: grid;
  height: 80vh;
  place-items: center;
  padding: 1rem;
  .flex {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    .full-width {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      min-width: 150px;
      max-width: 350px;
      width: 100%;
    }
    .copy{
      text-align: center;
      background-color: rgb(78, 78, 78);
      color: #c2185b;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      line-height: 1.2;
      padding: 1rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
